{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid p-5">
    <h2 class="mb-3">Список новостей</h2>
    <div class="row">
        {% if news_list %}
            {% for new in news_list %}
                <div class="m-2 container-20 col-2">
                    <div class="card-body">
                    <h4 class="text-right">{{ new.subject }}</h4>
                    <p class="ms-text">{{ new.heading }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
      </div>

      <h3 class="mt-5">Всего новостей: {{ news_count }}</h3>

      <form method="POST" class="row p-5">
          {% csrf_token %}

        <div class="col-4 form-group">
          <label for="date">Дата создания</label>
          <!-- <input type="date" class="form-control" id="date" name="date"> -->
          {{ form.date }}
        </div>
        <div class="col-4 form-group">
          <label for="subject">Тема</label>
          <!-- <input type="text" class="form-control" id="subject" placeholder="Тема новости" name="subject"> -->
          {{ form.subject }}
        </div>
        <div class="col-4 form-group">
            <label for="heading">Заголовок</label>
            <!-- <input type="text" class="form-control" id="heading" placeholder="Заголовок" name="heading"> -->
            {{ form.heading }}
          </div>
        <div class="col-4 form-group">
            <label for="way">Путь до картинки</label>
            <!-- <input type="text" class="form-control" id="way" value="/static/img/..." name="way"> -->
            {{ form.picture }}
          </div>
        <div class="col-4 form-group">
            <label for="source">Источник</label>
            <!-- <input type="text" class="form-control" id="source" placeholder="Источник" name="source"> -->
            {{ form.source }} 
        </div>
        <div class="col-12 form-group">
            <div class="w-50">
                <label for="description">Текст новости </label>
                <!-- <input type="text" class="form-control" id="description" placeholder="Текст новости" name="description"> -->
                {{ form.description }}
            </div>
        </div>
        
        <button type="submit" class="btn btn-outline-info m-3">Сохранить</button> <br>

        <h4 class="col-12 mt-3">Выберете номер новости для редактирования:</h4>
        <div class="d-flex">
            {% if news_list %}
            {% for new in news_list %}
              <div class="container-7 px-4 py-2 m-2">
                  <a href="{% url 'advertices:news-update' new.id %}" class="text-darkBlue">{{ new.id }}</a>
              </div>
              {% endfor %}
            {% endif %}
          </div>

          <h4 class="col-12 mt-3">Выберете новость, чтобы удалить:</h4>
          <div class="d-flex">
            {% if news_list %}
            {% for new in news_list %}
            <div class="container-7 px-4 py-2 m-2">
                <a href="{% url 'advertices:news-delete' new.id %}" class="text-darkBlue">{{ new.id }}</a>
            </div>
              {% endfor %}
            {% endif %}
          </div>

        <!-- <div class="row m-3">
            <div class="d-flex flex-column w-100">
                <div class="small_buttons d-flex flex-column flex-lg-row flex-xl-row">
                    <input type="submit" class="btn btn-outline-info col-12 col-lg-6 col-xl-6 mr-1 mb-3 mb-lg-0 mb-xl-0" value="Сохранить">
                    <a class="btn btn-outline-danger">Удалить новость</a>
                    
                </div>
                <input type="button" class="btn btn-outline-info">
            </div>
            <div class="col-lg-1 col-md-0 col-sm-0"></div>  
        </div>  -->

       
      </form>

      <h3 class="test-success">{{ message_success }}</h3>
  </div>
{% endblock %}