{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="container-fluid">
    <div class="container">
      <div class="city pt-5">
        {% for district in district_list %}
          {% if district.day_set.all %}
          
            <h3>{{ district.name }}</h3>
            
            <div class="container mb-4">
              <div class="row">
                {% for card in district.day_set.all %}
                
                <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-2 container-10 text-darkBlue p-3 mx-2 mt-3 print-card">
                  <h6 class="text-medium">{{ card.date }}</h6>
                    <hr class="m-0">
                      <div class="d-flex my-2 justify-content-around">
                        {% for icon in icon_list %}
                          {% if icon.name == card.name_precipitation %}
                            <img src="{{ icon.icon }}" alt="weather icon" class="w-50">
                          {% endif %}
                        {% endfor %}
                        
                        <div>
                          <p class="numbers mb-0">{{ card.average_temperature }}</p>
                          <p class="m-0 text-right text-small">{{ card.name_precipitation }}</p>
                        </div>
                      </div>
                      <p class="m-0 ">Ветер: {{ card.average_wind }}м\с</p>
                </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}    
        {% endfor %}
      </div>
    </div>
  </div>



<!-- <nav class="navbar navbar-expand-lg ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% if country_list %}
            {% for country in country_list %}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ country.name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <ul class="navbar-nav">
                        {%if city_list %}
                            {% for city in country.city_set.all  %}
                                <li class="nav-item dropdown text-black">
                                    <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ city.name}}
                                    </a>
                                    <form action="#" method="get">
                                    {%if district_list %}
                                        {% for district in city.district_set.all %}
                                            <a href="#" class="dropdown-item" > {{ district.name }}</a>
                                        {% endfor %}
                                    {% else %}
                                        Районы не найдены
                                    {% endif %}
                                    </form>
                                </li>
                              
                            {% endfor %}
                        {% else %}
                                Города не найдены
                        {% endif %}
                    </ul>
                </div>
                </li>
            {% endfor%}
        {% else %}
                Страны не найдены
        {% endif %}
      </ul>
    </div>
  </nav> -->


  
  <!-- <div class="dropdown">
    <button class="dropdown-toggle"
            type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      Москва
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {%if district_list %}
        {% for district in district_list.all %}
          <a class="dropdown-item" href="#!">{{ district.name }}</a>
        {% endfor%}
      {% endif %}
    </div>
  </div> -->
  

 
{% endblock %}

