{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid p-5 d-flex justify-content-center">

      <form method="POST" class="w-25 d-flex flex-column justify-content-center">
        {% csrf_token %}
        <h3 class="text-center">Регистрация</h3>
        <!-- <input type="text" class="form-control mb-3" id="login" placeholder="Логин"> -->
        <!-- <input type="text" class="form-control mb-3" id="password" placeholder="Пароль"> -->
        <!-- <input type="text" class="form-control mb-3" id="password2" placeholder="Повторите пароль"> -->
        
        {{form}}
        <button type="submit" class="btn btn-primary w-50 align-self-center">Вперед!</button>
      </form>

  </div>
{% endblock %}